@charset "UTF-8";

#title {
	padding : 10px 0;
	
}

#info {
	padding : 20px 5px;
	background-color : #f7f3f2;
}

#reserv {
	padding : 20px 10px;
}

#cmp_info p {
	font-size: 12px;
}

#loc {
	font-size: 14px;
}

#cont_sec {
	padding : 5px;
	background-color : #f7f3f2;
	border-radius : 2px;
}

#cont_sec > div {
	margin : 10px 0;
	padding : 10px 0;
	border-bottom : 1px solid #b5b5b5;
}

#cont_sec h5 {
	padding : 5px 0 20px 0;
}


#rev_sec {
	padding : 15px;
	background-color : white;
	border-radius : 2px;
}

#rev_sec div {
	padding : 2.5px 0;
}

.rm_row {
	margin : 10px;	
}

.bold {
	font-weight: bold;
}

.btn-primary {
    background-color: #7f4e46;
    border-color: #7f4e46;
    color: #FFF; 

}
.btn-primary:hover,
.btn-primary:focus {
    border-color: #6f453e;
    background-color: #6f453e;
    color: #FFF;
}
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus,
.btn-primary:active:hover {
    border-color: #5f2218;
    background-color: #5f2218;
    color: #FFF;
}
